

  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');



*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}

html{
    height: 100% !important;
}

body{
background-color: hsl(185, 75%, 39%) !important;
background-image: url(../images/bg-pattern-top.svg),url(../images/bg-pattern-bottom.svg);
background-repeat: no-repeat , no-repeat;
background-position:left -6rem top -14rem , right -3rem bottom -20rem;
background-size: contain , contain;
}
.Vector-pic{
    margin-top: -2.94rem !important;
}

.container-fluid{
    margin-top: 10rem !important;
}